FINANZAS-APP-V2/tool_gestionar_transacciones.json
{
  "name": "tool_gestionar_transacciones",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "query" },
            { "name": "telefone" }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a1b-9c2d-3e4f5a6b7c8d",
      "name": "receberDadosExterno",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [380, 240]
    },
    {
      "parameters": {
        "jsCode": "const query = ($json.query || '').toLowerCase().trim();\nconst telefone = ($json.telefone || '').replace('@s.whatsapp.net', '');\n\n// Detecta ação\nlet action = 'listar';\nif (query.includes('eliminar') || query.includes('borrar') || query.includes('excluir') || query.includes('apagar') || query.includes('delete') || query.includes('quitar')) {\n  action = 'eliminar';\n} else if (query.includes('editar') || query.includes('cambiar') || query.includes('modificar') || query.includes('actualizar') || query.includes('update')) {\n  action = 'editar';\n}\n\n// Remove palavras de ação para ficar só com o termo de busca\nconst removeWords = ['eliminar','borrar','excluir','apagar','delete','quitar','editar','cambiar','modificar','actualizar','update','puede','puedes','quiero','la','el','un','una','de','para','por','favor','registro','transaccion','transacción','gasto'];\nlet searchTerm = query;\nremoveWords.forEach(w => {\n  searchTerm = searchTerm.replace(new RegExp('\\\\b' + w + '\\\\b', 'gi'), '');\n});\nsearchTerm = searchTerm.replace(/[?!.,;:]/g, '').trim();\n\n// Tenta extrair monto se presente (para editar)\nlet newMonto = null;\nconst montoMatch = query.match(/(\\d[\\d.,]+)/);\nif (action === 'editar' && montoMatch) {\n  newMonto = Number(montoMatch[1].replace(/\\./g, '').replace(',', '.'));\n}\n\nreturn [{\n  json: {\n    action,\n    searchTerm,\n    newMonto,\n    telefone,\n    originalQuery: $json.query\n  }\n}];"
      },
      "id": "parse-query-node",
      "name": "Parsear Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [580, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bolsillo.ktuche.com/api/webhook/transacciones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "listar" },
            { "name": "whatsapp", "value": "={{ $json.telefone }}" },
            { "name": "limite", "value": "20" }
          ]
        },
        "options": {}
      },
      "id": "buscar-transacciones-node",
      "name": "Buscar Transacciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [800, 240],
      "onError": "continue",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "R1qKKa1g1IqG8OAo",
          "name": "Whatsapp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $node['Parsear Query'].json;\nconst resposta = $input.first().json;\nconst action = parsed.action;\nconst searchTerm = parsed.searchTerm;\nconst telefone = parsed.telefone;\n\n// Se é apenas listar, retorna direto\nif (action === 'listar') {\n  return [{ json: { skip: true, mensagem: resposta.message || 'Sin transacciones.' } }];\n}\n\n// Busca a transação que melhor combina\nconst transacciones = resposta.transacciones || [];\nif (transacciones.length === 0) {\n  return [{ json: { skip: true, mensagem: `❌ No encontré transacciones para buscar \"${searchTerm}\".` } }];\n}\n\n// Match por descrição (case insensitive, parcial)\nlet match = transacciones.find(t => \n  t.descripcion && t.descripcion.toLowerCase().includes(searchTerm.toLowerCase())\n);\n\n// Se não encontrou por descrição, tenta por categoria\nif (!match) {\n  match = transacciones.find(t => \n    t.categoria && t.categoria.toLowerCase().includes(searchTerm.toLowerCase())\n  );\n}\n\nif (!match) {\n  return [{ json: { skip: true, mensagem: `🔍 No encontré una transacción que coincida con \"${searchTerm}\". Tus últimas transacciones son:\\n\\n${resposta.message || ''}` } }];\n}\n\n// Prepara o payload para a ação\nconst payload = {\n  skip: false,\n  action: action,\n  transaccion_id: match.id,\n  telefone: telefone,\n  descripcion: match.descripcion,\n  monto: match.monto\n};\n\n// Se editar, adiciona campos novos\nif (action === 'editar' && parsed.newMonto) {\n  payload.newMonto = parsed.newMonto;\n}\n\nreturn [{ json: payload }];"
      },
      "id": "identificar-node",
      "name": "Identificar Transaccion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [1020, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "skip-check-id",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip-node",
      "name": "Necessita Ação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1240, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bolsillo.ktuche.com/api/webhook/transacciones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "={{ $json.action }}" },
            { "name": "transaccion_id", "value": "={{ $json.transaccion_id }}" },
            { "name": "whatsapp", "value": "={{ $json.telefone }}" },
            { "name": "monto", "value": "={{ $json.newMonto || '' }}" },
            { "name": "descripcion", "value": "" }
          ]
        },
        "options": {}
      },
      "id": "ejecutar-accion-node",
      "name": "Ejecutar Accion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1460, 160],
      "onError": "continue",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "R1qKKa1g1IqG8OAo",
          "name": "Whatsapp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json;\nif (resposta.success) {\n  return [{ json: { mensagem: resposta.message || '✅ Operación completada.' } }];\n}\nreturn [{ json: { mensagem: `❌ Error: ${resposta.error || 'Error desconocido'}` } }];"
      },
      "id": "format-action-response-node",
      "name": "Formatar Resultado Ação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [1680, 160]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { mensagem: $json.mensagem } }];"
      },
      "id": "format-skip-response-node",
      "name": "Retorno Direto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [1460, 360]
    },
    {
      "parameters": { "options": {} },
      "id": "retornoFinal",
      "name": "Retorno Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1900, 240]
    }
  ],
  "connections": {
    "receberDadosExterno": {
      "main": [[{ "node": "Parsear Query", "type": "main", "index": 0 }]]
    },
    "Parsear Query": {
      "main": [[{ "node": "Buscar Transacciones", "type": "main", "index": 0 }]]
    },
    "Buscar Transacciones": {
      "main": [[{ "node": "Identificar Transaccion", "type": "main", "index": 0 }]]
    },
    "Identificar Transaccion": {
      "main": [[{ "node": "Necessita Ação?", "type": "main", "index": 0 }]]
    },
    "Necessita Ação?": {
      "main": [
        [{ "node": "Ejecutar Accion", "type": "main", "index": 0 }],
        [{ "node": "Retorno Direto", "type": "main", "index": 0 }]
      ]
    },
    "Ejecutar Accion": {
      "main": [[{ "node": "Formatar Resultado Ação", "type": "main", "index": 0 }]]
    },
    "Formatar Resultado Ação": {
      "main": [[{ "node": "Retorno Final", "type": "main", "index": 0 }]]
    },
    "Retorno Direto": {
      "main": [[{ "node": "Retorno Final", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
