FINANZAS-APP-V2/tool_gestionar_categorias.json
{
  "name": "tool_gestionar_categorias",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "query" },
            { "name": "telefone" }
          ]
        }
      },
      "id": "e1f2g3h4-i5j6-k7l8-m9n0-o1p2q3r4s5t6",
      "name": "receberDadosExterno",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [380, 240]
    },
    {
      "parameters": {
        "jsCode": "const query = ($json.query || '').trim();\nconst queryLower = query.toLowerCase();\nconst telefone = ($json.telefone || '').replace('@s.whatsapp.net', '');\n\nlet action = 'listar';\nlet nombre = '';\n\nif (queryLower.includes('crear') || queryLower.includes('agregar') || queryLower.includes('añadir') || queryLower.includes('nueva') || queryLower.includes('create') || queryLower.includes('add')) {\n  action = 'crear';\n} else if (queryLower.includes('eliminar') || queryLower.includes('borrar') || queryLower.includes('quitar') || queryLower.includes('delete') || queryLower.includes('remove')) {\n  action = 'eliminar';\n}\n\n// Extrai o nome da categoria removendo palavras de ação\nconst removeWords = ['crear','agregar','añadir','nueva','nuevo','create','add','eliminar','borrar','quitar','delete','remove','categoria','categoría','categorias','categorías','la','el','una','un','de','por','favor','puede','puedes','listar','ver','mostrar','list'];\nlet cleanName = query;\nremoveWords.forEach(w => {\n  cleanName = cleanName.replace(new RegExp('\\\\b' + w + '\\\\b', 'gi'), '');\n});\nnombre = cleanName.replace(/[?!.,;:]/g, '').trim();\n\nreturn [{ json: { action, nombre, telefone, originalQuery: query } }];"
      },
      "id": "parse-cat-query-node",
      "name": "Parsear Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [580, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "is-eliminar-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "eliminar",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-need-search-node",
      "name": "Precisa Buscar ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [800, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bolsillo.ktuche.com/api/webhook/categorias",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "listar" },
            { "name": "whatsapp", "value": "={{ $json.telefone }}" }
          ]
        },
        "options": {}
      },
      "id": "buscar-categorias-node",
      "name": "Buscar Categorias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1020, 160],
      "onError": "continue",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "R1qKKa1g1IqG8OAo",
          "name": "Whatsapp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $node['Parsear Query'].json;\nconst resposta = $input.first().json;\nconst categorias = resposta.categorias || [];\nconst searchName = parsed.nombre.toLowerCase();\n\nconst match = categorias.find(c => c.nombre && c.nombre.toLowerCase().includes(searchName));\n\nif (!match) {\n  const lista = categorias.map(c => `• ${c.nombre}`).join('\\n');\n  return [{ json: { action: 'skip', mensagem: `🔍 No encontré la categoría \"${parsed.nombre}\". Categorías disponibles:\\n\\n${lista || 'Ninguna'}` } }];\n}\n\nreturn [{ json: { action: 'eliminar', categoria_id: match.id, nombre: match.nombre, telefone: parsed.telefone } }];"
      },
      "id": "find-cat-id-node",
      "name": "Encontrar ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [1240, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bolsillo.ktuche.com/api/webhook/categorias",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "={{ $json.action }}" },
            { "name": "nombre", "value": "={{ $json.nombre || '' }}" },
            { "name": "categoria_id", "value": "={{ $json.categoria_id || '' }}" },
            { "name": "whatsapp", "value": "={{ $json.telefone }}" }
          ]
        },
        "options": {}
      },
      "id": "ejecutar-cat-accion-node",
      "name": "Ejecutar Accion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1460, 160],
      "onError": "continue",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "R1qKKa1g1IqG8OAo",
          "name": "Whatsapp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bolsillo.ktuche.com/api/webhook/categorias",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "={{ $json.action }}" },
            { "name": "nombre", "value": "={{ $json.nombre }}" },
            { "name": "whatsapp", "value": "={{ $json.telefone }}" }
          ]
        },
        "options": {}
      },
      "id": "accion-directa-cat-node",
      "name": "Accion Directa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1020, 360],
      "onError": "continue",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "R1qKKa1g1IqG8OAo",
          "name": "Whatsapp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json;\nif (resposta.action === 'skip') {\n  return [{ json: { mensagem: resposta.mensagem } }];\n}\nif (resposta.success) {\n  if (resposta.categorias) {\n    const lista = resposta.categorias.map(c => `• ${c.nombre} (ID: \\`${c.id}\\`)`).join('\\n');\n    return [{ json: { mensagem: `📂 *Tus Categorías:*\\n\\n${lista || 'No tienes categorías.'}` } }];\n  }\n  return [{ json: { mensagem: resposta.message || '✅ Operación completada.' } }];\n}\nreturn [{ json: { mensagem: `❌ Error: ${resposta.error || 'Error desconocido'}` } }];"
      },
      "id": "format-cat-response-node",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [1680, 240]
    },
    {
      "parameters": { "options": {} },
      "id": "retornoFinalCat",
      "name": "Retorno Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1900, 240]
    }
  ],
  "connections": {
    "receberDadosExterno": {
      "main": [[{ "node": "Parsear Query", "type": "main", "index": 0 }]]
    },
    "Parsear Query": {
      "main": [[{ "node": "Precisa Buscar ID?", "type": "main", "index": 0 }]]
    },
    "Precisa Buscar ID?": {
      "main": [
        [{ "node": "Buscar Categorias", "type": "main", "index": 0 }],
        [{ "node": "Accion Directa", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Categorias": {
      "main": [[{ "node": "Encontrar ID", "type": "main", "index": 0 }]]
    },
    "Encontrar ID": {
      "main": [[{ "node": "Ejecutar Accion", "type": "main", "index": 0 }]]
    },
    "Ejecutar Accion": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    },
    "Accion Directa": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    },
    "Formatar Resposta": {
      "main": [[{ "node": "Retorno Final", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
