FINANZAS-APP-V2/tool_gestionar_transacciones.json
{
  "name": "tool_gestionar_transacciones",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "transaccion_id"
            },
            {
              "name": "descripcion"
            },
            {
              "name": "monto"
            },
            {
              "name": "tipo"
            },
            {
              "name": "categoria"
            },
            {
              "name": "telefone"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a1b-9c2d-3e4f5a6b7c8d",
      "name": "receberDadosExterno",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://bolsillo.ktuche.com/api/webhook/transacciones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "={{ $json.action || \"listar\" }}"
            },
            {
              "name": "transaccion_id",
              "value": "={{ $json.transaccion_id || \"\" }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $json.telefone ? $json.telefone.replace('@s.whatsapp.net', '') : \"\" }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.descripcion || \"\" }}"
            },
            {
              "name": "monto",
              "value": "={{ Number($json.monto) || 0 }}"
            },
            {
              "name": "tipo",
              "value": "={{ $json.tipo || \"pago\" }}"
            },
            {
              "name": "categoria",
              "value": "={{ $json.categoria || \"Otros\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4b1c-9d2e-3f4a5b6c7d8e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        240
      ],
      "onError": "continue",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "R1qKKa1g1IqG8OAo",
          "name": "Whatsapp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json;\nconst acao = $node[\"receberDadosExterno\"].json.action;\n\nif (resposta.success) {\n  const msgSetem = acao === 'eliminar' ? '🗑️ *Registro eliminado con éxito*' : '✅ *Registro actualizado con éxito*';\n  return [{\n    json: {\n      mensagem: `${msgSetem}\\n\\n${resposta.message || ''}`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    mensagem: `❌ *Error al gestionar:* ${resposta.error || 'Error desconocido'}`\n  }\n}];"
      },
      "id": "c3d4e5f6-a7b8-4c1d-9e2f-3a4b5c6d7e8f",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "retornoFinal",
      "name": "Retorno Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        240
      ]
    }
  ],
  "connections": {
    "receberDadosExterno": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Retorno Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
